page-want-buy {
    .list-tit{ margin-top: 10px; padding: 12px; font-size: 18px;}
    .time{ height:50px; line-height:50px; font-size: 16px;}
    .time .center{ text-align: center; line-height:50px;}
    .time .date,.select-type,.buy-input{ border: 1px solid #eee; border-radius: 4px;}
    .select-type{ width: 100%; height: 50px; max-width: 100%; font-size: 16px;}
    .buy-input{ width: 100%; height: 50px; padding-left:8px; font-size: 16px; line-height: 26px;}
    .buy-btn{ margin-top: 40px;}
    .buy-btn button{ font-size: 16px; border-radius: 4px;}
}
