page-cart {
    .overflow{ overflow: hidden; zoom: 1;}
    .fl{ float: left; display: inline;}
    .fr{ float: right; display: inline;}
    .remove{ color: #FFFFFF; background-color: #f53d3d; font-size: 16px;}
    .tj{ margin-top: 60px; font-size: 14px; text-align: center;}
    .list-ios .item-block .item-inner,.list-md .item-block .item-inner{ border-bottom: 0;}
    .item-ios,.item-md{ border-bottom: 0.55px solid #c8c7cc;}
    .left {
        float:left;
        padding-right:15px;
    }
    .right {
        float:right;
    }
} 
