<ion-header>
  <ion-navbar>
    <ion-title>购物车</ion-title>
  </ion-navbar>
</ion-header>
<ion-content >
	<div  *ngIf="goodsList && goodsList.length > 0">
		<ion-list>
		  <ion-item-sliding *ngFor="let good of goodsList"  #slidingItem>
			  <ion-item>
			    <ion-avatar item-start>
			     	<img *ngIf="good.product.imageUrl && good.product.imageUrl.length > 0" [src]="good.product.imageUrl[0]">
				   	<img *ngIf="!good.product.imageUrl || good.product.imageUrl.length == 0" src="assets/img/products/default-image.png">
			    </ion-avatar>
			   <h2>{{good.product.name}}</h2>
		    <h3>型号：{{good.product.sku}}</h3>
				<p class="left">
					价格：¥{{good.customer_entered_price}}
				</p>
				<P class="left">
			  	数量：{{good.customer_entered_price*good.quantity}}
				</P>
				<P class="right">
					小计：¥{{good.customer_entered_price*good.quantity}}
				</P>
			  </ion-item>
			  <ion-item-options side="left">
			    <button ion-button class="remove" (click)="removeItem(slidingItem, good.id)"><ion-icon name="trash"></ion-icon> 删除</button>
			  </ion-item-options>
			  <ion-item-options side="right">
			    <button ion-button class="remove" (click)="removeItem(slidingItem, good.id)"><ion-icon name="trash"></ion-icon> 删除</button>
			  </ion-item-options>
		  </ion-item-sliding>
		</ion-list>
	</div>
	<div  *ngIf="goodsList && goodsList.length==0" padding>
	  	<p class="tj">您还没添加商品到购物车</p>
	</div>
</ion-content>
<ion-footer	align="center" (tap)="submitOrder()" no-border>
  <div class="overflow" padding>
  	<span class="fl">总计：¥{{totalMoney}}</span>
  	<span class="fr">实付款：¥{{totalMoney}}</span>
  </div>
  <ion-toolbar>
    <ion-title>订单结算</ion-title>
  </ion-toolbar>
</ion-footer>
