<!--
  Generated template for the CatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>产品中心</ion-title>
  </ion-navbar>
   <ion-searchbar [showCancelButton]="true" placeholder="搜索"></ion-searchbar>
</ion-header>

<ion-content id="category">
    <nav id="nav">
      <ul>
        <li *ngFor="let item of categoryData, let i=index">
          <span [ngClass]="{true:'nav-current', false:'nav-blur'}[item.isSelect]" (click)="showSubCategories(item)" >{{item.name}}</span>
        </li>
      </ul>
    </nav>
    <div id="pro">
      <div class="pro-scroll">
        <div class="pro-warp">
          <div class="content" *ngIf="topCategory && topCategory.children">
            <div class="top">
               <span (click)="gotoProducts(topCategory)">{{topCategory.name}}</span>
            </div>
          <div *ngFor="let subItem of topCategory.children">
            <div class="content-title">
              <span (click)="gotoProducts(subItem)">{{subItem.name}}</span>
            </div>
            <div class="content-body" *ngIf="subItem.children">
              <li class="content-body-list" *ngFor="let subSubItem of subItem.children">
                <span (click)="gotoProducts(subSubItem)">{{subSubItem.name}}</span>
              </li>
            </div>
            </div>
          
          </div>
        </div>
      </div>
    </div>

</ion-content>
