<ion-header [class.headanimate]="tabanimate">
  <ion-navbar no-border-bottom>
    <ion-searchbar [showCancelButton]="true" (tap)="gotoSearchListPage()" placeholder="搜索" ></ion-searchbar>
     <ion-buttons end>
      <button ion-button large (click)="gotoCartShow()" class="home-cart">
      	<!--<ion-badge color="danger">2</ion-badge> 图标太小加上数量太丑   在我的页面加上购物车数量了-->
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)" scrollY="false">
  <ion-grid class="home-top">
    <ion-row margin>
      <ion-col text-center>
        <button ion-button icon-only round (click)="gotoBrandShow()">
           <ion-icon name="eye"></ion-icon>
        </button>
         <p>品牌展示</p> 
      </ion-col>
      <ion-col text-center>
        <button ion-button icon-only round (click)="gotoCompanyShow()">
           <ion-icon name="cube"></ion-icon>
        </button>
         <p>公司展示</p> 
      </ion-col>
      <ion-col text-center>
        <button ion-button  icon-only round (click)="gotoWantBuyShow()">
           <ion-icon name="basket"></ion-icon>
        </button>
         <p>发布求购</p> 
      </ion-col>
      <ion-col text-center>
        <button ion-button  icon-only round (click)="gotoFindGoodsShow()">
           <ion-icon name="hand"></ion-icon>
        </button>
         <p>帮找货</p> 
      </ion-col>
    </ion-row>
  </ion-grid>
 
 <h2 class="line">推荐好货</h2>
	<div class="row img-center" *ngIf="!products">
		<img height="35" src="assets/img/ring.svg">
	</div>

  <ion-list>
    <ion-item *ngFor="let product of products" (click)="gotoProductDetails(product)">
      <ion-thumbnail item-start>
         	<img *ngIf="product.images && product.images.length > 0" [src]="product.images[0].src">
					<img *ngIf="!product.images || product.images.length == 0" src="assets/img/products/default-image.png">
      </ion-thumbnail>
      <h2>{{product.name}}</h2>
       <p>型号：{{product.sku}}</p>
       <p>库存：{{product.stock_quantity}}件 &nbsp;</p>
			 <p>价格：{{product.price}}元 &nbsp;</p>
    </ion-item>
  </ion-list>
</ion-content>
