page-product-details {
    
    ion-card img {
        margin: 0 auto;
        width:auto;
        height:260px;
    }

    .data-table {
    width: 100%;
    border: 1px solid #EEE;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;

    .even {
       background-color: #F6F6F6;
    }

   th, td {
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    }
 }

td {
    vertical-align: middle;
}

}
