<ion-header>
  <ion-navbar>
    <ion-title>{{product.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding-bottom>
  <ion-card>
         <img *ngIf="product.images && product.images.length > 0" [src]="product.images[0].src">
         <img *ngIf="!product.images || product.images.length == 0" src="assets/img/products/default-image.png">

        <ion-fab right top>
            <button ion-fab (click)="addToFavourite(product)">
              <ion-icon name="heart"></ion-icon>
            </button> 
        </ion-fab>
         <ion-item>
             <p text-wrap> 描述：{{product.short_description}}</p>
             <p> 型号: {{product.sku}}</p>
             <p> 价格：{{product.price}}</p>
             <p> 库存：{{product.stock_quantity}}</p>
        </ion-item>
        <ion-item> 
            <h2>商品详情</h2>
           <div text-wrap [innerHTML]="product.full_description"></div>
        </ion-item>
        <ion-item>
           <h2>商品规格</h2>
           <div>
            <table class="data-table">
                <colgroup>
                    <col width="40%" />
                    <col />
                </colgroup>
                <tbody>
                   <tr *ngFor="let spec of product.specs;let i = index" [class.odd]="i%2!=0" [class.even]="i%2==0">
                      <td class="spec-name">
                          {{ spec.spec_name }}
                      </td>
                       <td class="spec-value">
                          {{ spec.spec_value }}
                      </td>
                   </tr>
                </tbody>
             </table>
           </div>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col width-50>
                    <button ion-button round small><ion-icon name="add" (click)="countOperator(1)"></ion-icon></button>
                </ion-col>
                <ion-label text-center>{{count}}</ion-label>
                <ion-col width-50>
                    <button ion-button round small><ion-icon name="remove" (click)="countOperator(-1)"></ion-icon></button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
     <!-- <div padding class="pl">
    		<div class="self-pl">
	    		<div class="tit">写下您的评论</div>
	    		<textarea class="content" rows="4"></textarea>
	    		<div class="pf">评分：很一般
	    			<input type="radio" name="pl" value="1" />
	    			<input type="radio" name="pl" value="2" />
	    			<input type="radio" name="pl" value="3" />
	    			<input type="radio" name="pl" value="4" />
	    			<input type="radio" name="pl" value="5" />非常好
	    		</div>
	    		<div class="btn"><button ion-button color="secondary">提交评论</button></div>
    		</div>
    		<div class="tit">历史评论</div>
    		<ion-list class="pl-list">
		  <ion-item *ngFor="let comments of commentList">
		    <ion-avatar item-start>
		      <img src="{{comments.img}}">
		    </ion-avatar>
		    <h2>{{comments.name}}</h2>
		    <h3><img src="{{comments.start}}" /> {{comments.data}}</h3>
		    <p>{{comments.content}}</p>
		  </ion-item>
		</ion-list>
    </div>-->
</ion-content>
<ion-footer	align="center" no-border>
    <button ion-button block (click)="addToCarts(product,count)"><ion-icon name="cart" ></ion-icon>加入购物车</button>
</ion-footer>
