page-contact-experts {
    .item-ios ion-avatar ion-img, .item-ios ion-avatar img{ width: 70px; height: 70px;}
    .experts-padding { padding:0 16px 16px;}
    a { text-decoration: none;}
    .tj { margin-top: 60px; font-size: 14px; text-align: center;}
}
