page-products {
    ion-row {
		border-bottom: solid 1px #d8d8d8;
	}

    .row {
        width:100%;
    }

	.price {
		font-weight: bold;
        font-size: 16px;
	}

	.v-img {
    width: 100%;
    height: auto;
    overflow: hidden;   
    contain:none;
	}
}
